* {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase; }

.flag {
  text-shadow: 1px 1px 1px #000; }

/*********************
MAIN CONTENT SECTIONS
**********************/
div.section-about {
  background-color: red;
  background: url("../assets/imgme.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; }

div.section-projects {
  background-color: darkblue;
  background: url("../assets/img13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

div.section-contact {
  background-color: darkblue;
  background: url("../assets/img4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/**********************
FULL PAGE NAVIGATION
***************/
nav {
  box-shadow: none;
  position: absolute; }

.button-collapse {
  left: 25px;
  color: black; }

.side-nav {
  position: fixed;
  width: 240px;
  left: -105%;
  top: 0;
  margin: 0;
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #000;
  z-index: 999;
  overflow-y: auto;
  will-change: left; }

.side-nav a {
  color: #FFF;
  display: block;
  font-size: 1.5rem;
  height: 64px;
  line-height: 64px;
  padding: 0 15px; }

/**************
MOBILE NAVIGATION
**********************/
header {
  visibility: hidden;
  height: 75px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999999;
  transition-duration: 1s; }
  header .logo {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 20px;
    top: 8px; }
  header .logo-big {
    height: 65px;
    width: 65px;
    top: 5px; }
  header .project-header {
    position: absolute;
    left: 95px;
    top: 35%;
    font-size: 1em;
    color: white;
    text-shadow: 0.6px 0.6px 0.6px rgba(0, 0, 0, 0.7); }

.clear {
  background: transparent; }

/*navigation-trigger*/
.nav-trigger {
  position: fixed;
  right: 25px;
  top: 28px;
  z-index: 999;
  /* margin-top: -70px; */
  cursor: pointer;
  -webkit-transition: -webkit-transform 300ms ease;
  -moz-transition: -moz-transform 300ms ease;
  -o-transition: -o-transform 300ms ease;
  transition: transform 300ms ease; }

.nav-trigger.open .nav-trigger-inner {
  -webkit-transform: translate(-2px, -2px);
  -moz-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px); }

.nav-trigger.open .line:first-child {
  -webkit-transform: rotate(45deg) translate(11px, 12px);
  -moz-transform: rotate(45deg) translate(11px, 12px);
  -ms-transform: rotate(45deg) translate(11px, 12px);
  -o-transform: rotate(45deg) translate(11px, 12px);
  transform: rotate(45deg) translate(11px, 12px);
  -webkit-transform-origin: 50% 8px;
  -moz-transform-origin: 50% 8px;
  -ms-transform-origin: 50% 8px;
  -o-transform-origin: 50% 8px;
  transform-origin: 50% 8px; }

.nav-trigger.open .line {
  width: 50px;
  height: 8px;
  margin-bottom: 8px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

.nav-trigger.open:hover .line,
.nav-trigger.open:hover .line:first-child,
.nav-trigger.open:hover .line:last-child {
  background-color: white; }

.nav-trigger.open .line:last-child {
  -webkit-transform: rotate(-45deg) translate(10px, -10px);
  -moz-transform: rotate(-45deg) translate(10px, -10px);
  -ms-transform: rotate(-45deg) translate(10px, -10px);
  -o-transform: rotate(-45deg) translate(10px, -10px);
  transform: rotate(-45deg) translate(10px, -10px);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0; }

div.line {
  width: 27px;
  height: 2px;
  margin-bottom: 8px;
  background: white;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -ms-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-transition-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.line:first-child {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0; }

.line:last-child {
  -webkit-transform-origin: 50px 8px;
  -moz-transform-origin: 50px 8px;
  -ms-transform-origin: 50px 8px;
  -o-transform-origin: 50px 8px;
  transform-origin: 50px 8px; }

.black {
  background: black !important;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }

/*navigation*/
.nav-full {
  height: 100%;
  width: 100%;
  display: none;
  background-color: rgba(165, 140, 64, 0.6);
  position: fixed;
  top: 0;
  text-align: center;
  overflow: scroll; }
  .nav-full .flex-nav {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-bottom: 1em;
    overflow: scroll;
    margin-top: 3em; }
    .nav-full .flex-nav .item-nav {
      height: 200px;
      width: 400px;
      margin: 0.3em;
      vertical-align: middle;
      background-color: #211F1C; }
      .nav-full .flex-nav .item-nav a {
        line-height: 200px;
        font-size: 2.6em;
        color: white;
        text-decoration: none; }

/***************
Image pages
****************/
.img-row .col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }
  .img-row .col img {
    border: 15px solid black; }

#about {
  background-color: #000; }

/***************
MEDIA QUERIES
****************/
@media only screen and (max-width: 640px) {
  div.nav {
    display: none; }

  header {
    visibility: visible; } }

/*# sourceMappingURL=slide.css.map */
